@font-face {
    font-family: 'black_jackregular';
    src: url('fonts/blackjack-webfont.eot');
    src: url('fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blackjack-webfont.woff') format('woff'),
         url('fonts/blackjack-webfont.ttf') format('truetype'),
         url('fonts/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cac_champagneregular';
    src: url('fonts/cac_champagne-webfont.eot');
    src: url('fonts/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cac_champagne-webfont.woff') format('woff'),
         url('fonts/cac_champagne-webfont.ttf') format('truetype'),
         url('fonts/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{d
    /* font-family: 'open_sanslight', sans-serif, Verdana, "Arial Black", Impact,  Arial, 'cac_champagneregular'; */
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url('../img/background_img.png');
    /* background-color:  #aed6f1; */
}

[class*='col-'], footer{
    /* border: 2px solid black; */
    text-align: center;
    /* background-color: lightgreen; */
    /* line-height: 70px; */
    /* border-radius: 6px; */
}

header img{
    /* height: 360px; */
    /* width: 100%; */
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.nom{
    font-family: 'cac_champagneregular', 'black_jackregular', 'open_sanslight', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    text-align: left;
    text-indent: 50px;
    font-size: 5em;
    color: white;
    background-color: #474747;
    line-height: 120px;
}

.nom_icon{
    background-color: #464444;
}

.div_job{
    /* font-family: 'robotolight', 'open_sanslight'; */
    font-family: 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    font-size: 1.6em;
    background-color: #424141;
    line-height: 120px;
    color: white;
}

#experienced{
    text-align: right;
    padding-right: 3px;
}

#cadre{
    /* border: 3px solid red; */
    /* width: 1000px; */
    overflow: hidden;
    /* height: 30px; */
    /* text-align: left; */
    padding-left: 3px;
}

#job {
    display: block;
    width: 250px;
    text-align: left;
    margin-top: 45px;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}

.job_icon{
    background-color: #393839;
}

.job_icon, .nom_icon {
    text-decoration: none;
    line-height: 120px;
    overflow: hidden;
    color: grey;
}

/* bicons: pour icons shooping avec badge */
.bicons{
    position:relative;
    display:inline-block;
}

/* le badge de shooping */
#badg {
    color:#E77;
    position:absolute;
    top: -16px;
    right: -18px;
}

/* Transition propriété */
.nom_icon_span, .job_icon_span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -126px;
    top: 0px;
    background-color: rgba(40,40,40,0.5);
    /* Transition propriété */
    transition-property: left;
    transition-duration: 400ms;
}

.pull-right {
    font-family: 'open_sanslight', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
}

.nom_icon:hover .nom_icon_span, .job_icon:hover .job_icon_span{
    left: 0px;
}

.job_icon:hover, .nom_icon:hover {
    text-decoration: none;
}

.sectionheight1{
    text-align: left;
    height: 370px;
}

.schoolContent1{
    height: 92px;
    text-align: left;
    color: white;
    /* padding-left: 45px; */
    text-indent: 45px;
    padding-top: 30px;
}

.schoolContent1 strong {
    font-size: 1.8em;
}

.professionalC1{
    font-family: 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    height: 92px;
    color: white;
    text-align: left;
}

.professionalC2{
    font-family: 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    height: 92px;
    color: white;
    text-align: left;
    /* padding-right: 45px; */
}

.pweb_design {
    width: 55%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.prog {
    border: 1px solid #2fadda;
    border-radius: 15px;
    height: 10px;
    /* width: 315px; */
}

.pjavascript {
    width: 77%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.pweb_prog {
    width: 95%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.pvim {
    width: 60%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}


.phtml{
    width: 75%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.pcss {
    width: 70%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.pdjango {
    width: 85%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}

.pwordpress {
    width: 52%;
    height: 8px;
    background-color: #d6eaf8;
    border-radius: 15px;
}


.schoolContent{
    text-align: left;
    color: white;
    height: 60px;
    padding-left: 100px;
}

.schoolContent strong {
    font-weight: bold;
    border-left: 3px solid white;
    padding-left: 5px;
}

.education {
    padding-left: 20px;
}

.aside{
    height: 60px;
}

.sectionheight3{
    display: flex;
    height: 130px;
}

.sectionheight3 img {
    margin: auto;
}

.sectionheight3 .django {
    margin-left: 15px;
    margin-bottom: 20px;
    height: 102px;
    width: 120px;
}

.sectionheight3 .bootstrap {
    margin-right: -8px;
    height: 65px;
    width: 170px;
}

.sectionheight3 .html {
    /* margin-top: 40px; */
    margin-left: 50px;
    height: 90px;
    width: 125;
}

.sectionheight3 .css {
    /* margin-top: 40px; */
    height: 90px;
    width: 70px;
}

.sectionheight3 .jquery {
    /* margin-top: 40px; */
    height: 96px;
    width: 118px;
}

.sectionheight3 .python {
    /* margin-top: 40px; */
    height: 65px;
    width: 160px;
    margin-left: 15px;
    /* height: 85px; */
    /* width: 110px; */
}

.nav1{
    background-color:  #1abc9c;
    /* justify-content: center; */
}

.nav1_span {
    background-color: rgba(11,83,69,0.4);
}

.nav1_span, .nav2_span, .nav3_span, .nav4_span, .nav5_span, .nav6_span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -120px;

    /* Transition propriété */
    transition-property: top;
    transition-duration: 400ms;
    background-color: rgba(11,83,69,0.4);
}

.nav_header2:hover .nav1_span, .nav_header2:hover .nav2_span, .nav_header2:hover .nav3_span, .nav_header2:hover .nav4_span, .nav_header2:hover .nav5_span, .nav_header2:hover .nav6_span{
    top: 0px;
}


.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    left: 0px;
    top: 120px;
    /* width: 16%; */
}

/* .dropdown-content a { */
/*     color: black; */
/*     /1* padding: 12px 16px; *1/ */
/*     text-decoration: none; */
/*     display: block; */
/* } */

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block;}

.nav2{
    background-color: #3498db;
}

.nav3{
    background-color: #9b59b6;
}

.nav4{
    background-color: #e67;
}

.nav5{
    background-color: #ffcc5c;
}

.nav6{
    background-color: #e62;
}

 /* SIDE OF ICONS */
.icons {
    display: block;
    padding-bottom: 10px;
}

.nav_header2{
    font-family: 'open_sanslight', sans-serif, Verdana, Arial, "Arial Black", Impact;
    height: 120px;
    display: block;
    padding-top: 35px;
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.nav_header2:hover{
    color: white;
    text-decoration: none;
}

/* Address : Personnal Infos */
.personnal_infos{
    font-family: 'open_sanslight', 'cac_champagneregular', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    background-color: #eee;
}

.infos {
    font-family: Arial, 'open_sanslight';
    padding-top: 40px;
    padding-left: 20px;
}

.infosContent{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    padding-bottom: 10px;
    padding-left: 20px;
}

.titre {
    display: inline-block;
    padding-left: 20px;
    width: 150px;
    padding-bottom: 10px;
    font-weight: bold;
}

#addr {
    height: 10px;
}

.section1{
    background-color: white;
}

.section2{
    background-color: #eee;
}

/* My service */
.serviceContent{
    height: 185px;
    text-align: left;
}

.my_services{
    /* font-family: 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact; */
    padding-top: 40px;
    padding-left: 25px;
    font-size: 1.3em;
}


.my_services strong {
    font-family: 'open_sanslight', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    font-size: 1.8em;
}

.service{
    font-family: 'open_sanslight', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    display: block;
    padding-left: 40px;
}

.my_services2{
    font-family: 'open_sanslight', 'cac_champagneregular', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    padding-left: 20px;
    text-align: left;
}

.my_schools {
    background-color: #1abc9c
}

.my_skills{
    background-color: #3498db;
}

.my_framework{
    background-color: #aaa;
}

footer{
    display: block;
    background-color:  #252627;
    color: white;
    padding-left: 32px;
}

/* footer image */
footer img{
    display: block;
    /* padding-left: -20px; */
    height: 43px;

}

footer .detail {
    text-align: left;
    padding-left: 6px
}

/* .footerheight{ */
/*     text-align: left; */
/*     padding-left: 45px; */
/*     padding-top: 37px; */
/* } */

.footerheight1 {
    /* font-size: 1.2em; */
    text-align: left;
    margin-top: 65px;
    line-height: 32px;
    /* padding-left: 37px; */
}

.footerheight2 {
    /* padding-left: 37px; */
    font-family: 'open_sanslight', 'cac_champagneregular', 'open_sansitalic', sans-serif, Verdana, Arial, "Arial Black", Impact;
    text-align: left;
    margin-top: 8px;
    /* font-size: 0.9em; */
    /* text-align: justify; */
    font-size: small;
    height: 175px;
}

#pointille {
    font-weight: bold;
    text-decoration: none;
    /* background-color: #eee; */
}

#paS {
    display: block;
    width: 100%;
    border-radius: 15px;
    /* background-color: #eee; */
}#paS:hover {
    text-decoration: none;
    background-color: #ddd;
}


#paI {
    display: block;
    width: 100%;
    border-radius: 15px;
    /* background-color: #ddd; */
}#paI:hover {
    text-decoration: none;
    background-color: #aaa;
}


#paE {
    display: block;
    border-radius: 15px;
    width: 100%;
    color: white;
    /* background-color: #1ab676 */
}#paE:hover {
    text-decoration: none;
    background-color: #1a7;
}


#paP {
    display: block;
    width: 100%;
    color: white;
    border-radius: 15px;
    /* background-color: #18b; */
}#paP:hover {
    text-decoration: none;
    background-color: #16b;
}

#reseau , #reseau1{
    display: block;
    width: 38px;
    line-height: 35px;
    border-radius: 50px 5px 5px 5px;
    background-color: #555;
    color: white;
}

#reseau:hover, #reseau1:hover {
    background-color: #f44;
}

#reseau1 {
    margin-left: 15px;
}

#reseau {
    margin-left: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 992px){
    .container{
        width: 1170px;
    }
}
