@value: 100px;
@font: 'open_sanslight', sans-serif, Verdana, Arial, "Arial Black", Impact;

.Sheader1{
    width: 0px;
    background: #9b59b6;
    height: 145px;
    text-align: left;
    color: white;

    .my_Sheader1{
        padding-top: 46px;
        padding-left: 50px;
        font-size: 1.3em;

        strong {
            font-family: @font;
            font-size: 1.8em;
        }
        
        .Sheader1Content{
            display: block;
            width: 800px;
            font-family: @font;
            padding-left: 50px;
        }
    }
}

.Sheader2{
    width: 0px;
    height: 0px;
    border-right: 1110px solid transparent;
    border-top: 80px solid #9b59b6;
}

.Ssection1 {
    background-color: white;
}

.offre {
    margin-top: @value;
}

.offreContent{
    color: #777;
}

.section1 {
    font-family: "Raleway", sans-serif
}

